<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tool="http://schemas.android.com/tools"
    package="carnerero.agustin.cuentaappandroid">
    <!-- Agrega la siguiente línea para permiso de lectura externa -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        tool:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tool:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/labelapp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.CuentaAppAndroid">
        <activity
            android:name=".CreateAccountsActivity"
            android:exported="false" />
        <activity
            android:name=".CreateProfileActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:screenOrientation="fullSensor"/>

        <receiver
            android:name=".utils.AlarmNotifications"
            android:enabled="true" />

        <activity
            android:name=".NewPasswordActivity"
            android:exported="false"
            android:screenOrientation="fullSensor" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".OnBoardingActivity"
            android:exported="true"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>